@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}


.facebook-comments-page {
    display: flex;
    flex-direction: column;
 position: relative;
 left: 465px;
    padding: 30px;
  }
  
  .comments-container {
    max-width: 600px; /* Ajusta el ancho máximo según tu diseño */
    width: 100%;
    overflow-y: auto; /* Habilita el desplazamiento vertical si los comentarios son más largos que el contenedor */
    padding-right: 10px; /* Añade un espacio para compensar la barra de desplazamiento vertical */
  }
  
  .facebook-comments {
    margin-bottom: 20px; /* Espacio entre los comentarios */
  }
  