.navbar {
    background-color: #333; /* Color de fondo del navbar */
    padding: 1rem; /* Espaciado interno del navbar */
  }
  
  .navItems {
    display: flex; /* Distribución de items en línea */
    list-style: none; /* Eliminar viñetas de la lista */
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar padding */
  }
  
  .navItem {
    margin-right: 2rem; /* Espaciado entre items del navbar */
    position: relative; /* Posicionamiento relativo para dropdown */
  }
  
  .navLink {
    color: white; /* Color del texto */
    text-decoration: none; /* Eliminar subrayado del texto */
    cursor: pointer; /* Cambiar cursor al pasar sobre el texto */
  }
  
  .navLink:hover {
    color: #ddd; /* Cambiar color del texto al pasar el mouse */
  }
  